main#todo-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section {
  width: 50%;
}

section.top {
  padding-top: 100px;
}

h1.title {
  font-size: 64px;
  margin: 20px 0;
}
