body {
  font-family: 'Roboto', sans-serif;
}
main#todo-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
section {
  width: 50%;
}
section.top {
  padding-top: 100px;
}
h1.title {
  font-size: 64px;
  margin: 20px 0;
}
.add-todo-container {
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-todo-container input[type="text"] {
  font-size: 24px;
  height: 100%;
  width: 100%;
}
.add-todo-container button {
  height: 100%;
  width: 80px;
  margin-left: 20px;
  font-size: 24px;
  outline: none;
}
.todo-list-container {
  padding: 20px;
  width: 100%;
}
.todo-list-container #todo-list li {
  margin-bottom: 10px;
}
