$gap = 20px

body
  font-family: 'Roboto', sans-serif

main#todo-app
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

section
  width: 50%

  &.top
    padding-top: 100px

h1.title
  font-size: 64px
  margin: $gap 0

.add-todo-container
  height: 40px
  padding: ($gap / 2)
  margin-bottom: $gap
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

  input[type="text"]
    font-size: 24px
    height: 100%
    width: 100%

  button.add
    height: 100%
    width: 80px
    margin-left: $gap
    font-size: 24px
    outline: none

.todo-list-container
  padding: $gap
  width: 100%

  #todo-list
    li.todo-list-item
      display: flex
      align-items: center
      margin-bottom: ($gap / 2)

      button.done
        margin-left: ($gap * 3 / 4)
